@import '../../../scss/main';

.AdminSection {
  &_header {
    font-family: Marcellus, Segoe UI, sans-serif;
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }

  &_questions {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 4.5rem;
    align-items: center;

    .button_wrapper {
      @include adminPlusAddButton;
    }
  }
}