@import "../../scss/main";

// this profile class is defined
// on the Home.jsx route.
.profile {
  position: relative;
  background-color: $color-background-secondary;
  overflow: hidden;

  // these background elements are defined
  // on the Home.jsx route.
  .backgroundFlourish {
    &_1 {
      position: absolute;
      right: -3.5rem;
      bottom: -12.5%;
      transform: scale(.75);
      transition: transform .3s ease-in-out;
      max-height: 50rem;

      @include respond(phone) {
        opacity: 0;
      }

      @media only screen and (width <= 62.5em) {
        opacity: 0;
      }

      @include respond(tab-980) {
        transform: scale(.5);
        right: -7rem;
        bottom: -7rem;
      }
    }

    &_wrapper {
      position: absolute;
      transform: rotate(-180deg);
      left: 0;
      top: 0;

      @include respond(tab-80) {
        left: -2rem;
        top: -4rem;
      }

      @include respond(tab-port) {
        left: -1rem;
        top: -2.75rem;
      }

      .backgroundFlourish_2 {
        transform: scale(1.25);

        @media only screen and (width <= 62.5em) {
          opacity: 0;
        }

        @include respond(phone) {
          opacity: 0;
        }

        @include respond(tab-800) {
          top: -2.75rem;
          transform: scale(.75);
        }

        @include respond(tab-port) {
          transform: scale(.85);
        }
      }
    }
  }

  .aboutUs {
    padding: 2.5rem 0;
    transition: all .2s ease-in-out;

    .image_img {
      min-width: 100%;
      object-fit: cover;
      transition: transform 2.5s ease-in-out;
    }

    .text {
      &_short {
        padding-left: 4.375rem;
        text-align: left;
        line-height: 1.5rem;
        color: $color-primary-dark;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 5;
        transition: all .2s ease-in-out;

        @include respond(phone) {
          width: 100%;
          padding-left: 1.375rem;
        }

        @include respond(tab-980) {
          padding-left: 0;
        }
      }

      &_expanded {
        padding-left: 4.375rem;
        text-align: left;
        line-height: 1.5rem;
        color: $color-primary-dark;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: none;

        @include respond(phone) {
          width: 100%;
          padding-left: 1.375rem;
        }

        @include respond(tab-980) {
          padding-left: 0;
        }
      }
    }

    .expand_btn {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}