@import "../../scss/main";

.navContainer {
  display: flex;
  flex-direction: column;
  min-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: $color-background;
  overflow: hidden;

  .addressText {
    min-width: 100%;
    padding: .75rem 2.5rem 0;
    margin: 0;

    &Content {
      padding-bottom: .75rem;
      min-width: 100%;
      font-size: .85rem;
      color: $color-primary-dark;
      text-align: center;
      border-bottom: 2px solid $color-primary;
    }
  }

  .logoWrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem 3.125rem 2rem;

    .logo {
      max-height: 11rem;
    }
  }

  @media only screen and (width <= 62.5em) {
    flex-direction: row;
    justify-content: flex-end;
    padding: .5rem;

    button {
      margin: .75rem 1.5rem;
    }
  };

  .mainNavWrapper {
    padding: 0.25rem;
    background-color: $color-primary;
    margin-bottom: 0 !important;
    min-width: 100vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    @media only screen and (width <= 62.5em) {
      flex-direction: column;
      align-items: flex-end;
    };

    a {
      font-family: Marcellus, serif;
      font-weight: bold;
      display: inline-block;
      color: $color-primary-dark;
      padding: 0 2rem 0 0;
      transition: color .2s ease-in-out;
      text-transform: capitalize;
      text-align: center;
      white-space: nowrap;
      text-decoration: none;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
