@import "variables";

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerSection {
  max-width: $grid-width !important;
  margin: 0 auto !important;
}

@mixin primaryDarkShadow {
  box-shadow: 0.125rem 0.125rem rgba($color-grey-dark-2, 0.25);
}

@mixin primaryDarkTextShadow {
  text-shadow: rgba($color-primary-dark, 0.5) 0.125rem 0.125rem .75px;
}

@mixin pageHeader {
  & > h1 {
    text-align: center;
    color: $color-white;
    margin-top: 1.5rem;
    margin-bottom: .75rem;

    @include primaryDarkTextShadow;
  }
}

@mixin formButton {
  cursor: pointer;
  padding: .25rem;
  min-width: 100%;
  max-width: 100%;
  color: $color-white;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border-radius: .5rem;
  background-color: $color-blue;
  border: none;

  @include primaryDarkShadow;

  & > span {
    @include primaryDarkTextShadow;
  }

  .loading_spinner {
    padding-top: .35rem;
  }

  &:disabled {
    cursor: unset;
    background-color: $color-grey-dark;
    color: $color-grey-light-1;
    border: 1px solid $color-grey-light-1;
  }
}

@mixin cardButton($buttonColor) {
  cursor: pointer;
  padding: .25rem;
  min-width: 100%;
  max-width: 100%;
  color: $color-white;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: .5rem;
  background-color: $buttonColor;
  border: none;

  @include primaryDarkShadow;

  & > span {
    @include primaryDarkTextShadow;
  }

  .loading_spinner {
    padding-top: .35rem;
  }

  &:disabled {
    cursor: unset;
    background-color: $color-grey-dark;
    color: $color-grey-light-1;
    border: 1px solid $color-grey-light-1;
  }

  .loading_spinner {
    padding-top: .25rem;
    margin-left: .5rem;
  }
}

// MEDIA QUERY MANAGER

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == galaxyS8 {
    @media only screen and (width <= 22.5em) {
      @content
    }; //360
  }

  @if $breakpoint == iphoneSE {
    @media only screen and (width <= 23.45em) {
      @content
    }; //375
  }

  @if $breakpoint == iphoneSE-land {
    @media only screen and (width <= 41.6875em) {
      @content
    }; //667px
  }

  @if $breakpoint == phone {
    @media only screen and (width <= 37.5em) {
      @content
    }; //600px
  }

  @if $breakpoint == tab-800 {
    @media only screen and (width <= 50em) {
      @content
    }; //800px
  }

  @if $breakpoint == tab-port {
    @media only screen and (width <= 56.25em) {
      @content
    }; //900px
  }

  @if $breakpoint == tab-980 {
    @media only screen and (width <= 61.25em) {
      @content
    }; //980px
  }

  @if #breakpoint == screen-1000 {
    @media only screen and (width <= 62.5em) {
      @content
    }; //1000px
  }

  @if #breakpoint == desktop-1080 {
    @media only screen and (width <= 67.5em) {
      @content
    }; //1080px
  }

  @if $breakpoint == tab-land {
    @media only screen and (width <= 75em) {
      @content
    }; //1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (width >= 112.5em) {
      @content
    }; //1800
  }
}

@mixin adminPlusAddButton {
  min-height: 100% !important;

  .navigation__button {
    background-color: $color-grey-dark;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    z-index: 5 !important;
    text-align: center;
    cursor: pointer;
    margin-left: 1.5rem;
    transition: all .2s ease-in-out;

    &:hover {
      transform: rotate(370deg);
    }

    .navigation__icon {
      position: relative;
      transform: translateY(.75rem);

      &,
      &::before,
      &::after {
        width: 1.25rem;
        height: 2px;
        background-color: $color-white;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        transform: rotate(90deg);
      }
    }
  }
}

@mixin simpleSubmitButton {
  margin-top: .5rem;
  margin-bottom: 1.5rem;

  &_button {
    @include cardButton($color-blue);
  }

  .error_message {
    color: red !important;
  }
}

@mixin galleryImage {
  div {
    img {
      object-fit: cover;
      width: 100%;
      transition: all .25s ease-in-out;
    }
  }
}

@mixin formikCustomFields {
  .questions_form_section {
    label {
      font-size: 1.25rem;
      font-weight: 800;
      margin: 1.5rem 0 .5rem;
    }

    &_input {
      line-height: 1.5rem !important;
      border-radius: .5rem !important;
      padding: .5rem !important;
      border: 2px solid $color-grey-dark;
      min-height: 1.5rem;
    }

    &_textarea {
      line-height: 1rem !important;
      padding: .5rem !important;
      border: 2px solid $color-grey-dark;
      border-radius: .5rem !important;
      resize: vertical;
      min-width: 100%;
    }

    &_select {
      line-height: 1.5rem !important;
      border-radius: .5rem;
      max-width: 100%;
      border: 2px solid $color-grey-dark;
      padding: .5rem !important;
    }
  }
}

@mixin questionBackgroundImages {
  .backgroundFlourish_1 {
    z-index: 1;
    position: absolute;
    left: -2.25rem;
    top: 100rem;
    transform: rotate(180deg) scale(1.15);
    opacity: .6;

    // 1200px
    @media only screen and (width <= 75em) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .backgroundFlourish_2 {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 250rem;
    transform: scale(1);
    opacity: .6;

    // 1200px
    @media only screen and (width <= 75em) {
      opacity: 0;
      visibility: hidden;
    }
  }

  .backgroundFlourish_3 {
    z-index: 1;
    left: 0;
    position: absolute;
    top: 300rem;
    transform: scale(-1);
    opacity: .5;

    // 1200px
    @media only screen and (width <= 75em) {
      opacity: 0;
      visibility: hidden;
    }
  }
}