// COLORS
$color-primary: #F4EBE8;
$color-primary-dark: darken($color-primary, 50%);
$color-secondary: #CF8273;
$color-tertiary: #9FA47D;
$color-quadiary: #252525;
$color-background: #FEFFFF;
$color-background-secondary: #FEFBF0;
$color-background-tertiary: #F6F6F4;
$color-grey: #CCC;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #323332;
$color-white: #fff;
$color-black: #000;
$color-blue: #0C6EFD;
$color-error: #f00;

// FONT
$default-font-size: 1rem;

// GRID
// 1280px
$grid-width: 85rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;