@import "../../../scss/main";

.planning {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-grey-dark;
  border-radius: .5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  max-width: 16.75rem;

  @include respond(tab-port) {
    margin: 0 0 1rem;
  }

  .card_header {
    min-width: 100%;
    background-color: purple;
    color: $color-white;
    font-weight: 800;
    padding: .25rem .5rem;
  }

  &_wrapper {
    padding: .5rem .5rem 0;
    display: flex;
    flex-direction: column;
    width: 16.75rem;

    .planning_form_wrapper {
      padding: .5rem .5rem 0;
      display: flex;
      flex-direction: column;
      width: 16.75rem;

      @include respond(tab-port) {
        min-width: 100%;
        max-width: 100%;
      }

      .field_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > label {
          font-size: 1rem;
          margin-top: .55rem;
        }

        @include respond(tab-port) {
          display: flex;
          flex-direction: column;
        }

        .planning_form_input {
          margin: .25rem 0;
          border: 2px solid $color-primary-dark;
          border-radius: .5rem;
          padding: .5rem;
          max-width: 90%;
        }

        .planning_form_textarea {
          margin: .25rem 0;
          border: 2px solid $color-primary-dark;
          border-radius: .5rem;
          padding: .5rem;
          max-width: 90%;
          min-height: 10rem;
        }
      }

      &_button_container {
        display: flex;
        width: 92.5% !important;
        justify-content: space-between;
        margin: 1.5rem 0 .5rem;

        &_button {
          @include cardButton(green);
        }

        &_button_remove {
          @include cardButton($color-error);
        }

        .error_message {
          color: red !important;
        }
      }
    }
  }
}