@import "../../../scss/main";

.modal {
  @include absCenter;
  position: fixed;
  background-color: $color-white !important;
  min-width: 33%;
  border: $color-primary solid 1px;
  border-radius: .5rem;
  transition: all .2s ease-in-out;
  top: 40%;
  box-shadow: rgba($color-primary, .3) .25rem .35rem .5rem .02rem;
  overflow: hidden;

  &_header {
    color: $color-white;
    background-color: $color-error;
    text-align: center;
  }

  &_inner {
    padding: 1.5rem;

    &_message {
      text-align: center;
      color: $color-error;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    &_btn {
      display: flex;
      justify-content: flex-end;

      &_button {
        @include cardButton($color-grey-dark);
      }
    }
  }
}