@import "../../scss/main.scss";

.banner {
  @include centerSection;
  min-width: 100%;
  overflow: hidden;
  position: relative;

  &:hover .banner__backing {
    transform: scale(1.2);
  }

  &__backing {
    margin-bottom: 0;
    width: 100%;
    max-height: 55rem;
    transition: transform 2.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
                      ellipse at center,
                      rgba($color-black, 0) 0%,
                      rgba($color-black, 0.1) 50%,
                      rgba($color-black, 0.25) 75%,
                      rgba($color-black, 0.27) 85%,
                      rgba($color-black, 0.4) 100%
      );
    }

    &__image {
      object-fit: cover;
      min-width: 100%;

      @include respond(tab-800) {
        margin-bottom: -3rem;
      }
    }
  }
}